
<!-- <div class="card" style="max-width: 600px; margin: auto;margin-top: 40px;">
    <div class="card-header">
        <form (ngSubmit)="subt(f)" #f="ngForm">
            <h1 class="text-center">Login page</h1>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email" ngModel>
            <input type="email" name="emial" class="form-control"  placeholder="Enter email" [(ngModel)]=email> -->

            <!-- </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password"  placeholder="Password" ngModel>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  
</div>
<app-all-details *ngFor = " let user1 of allDetails" [user]=user1></app-all-details> --> 

<div class="card" style="max-width: 600px; margin: auto;margin-top: 40px;">
    <div class="card-header">
        <form>
            <h1 class="text-center">Login page</h1>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email" [(ngModel)]=email>
            <!-- <input type="email" name="emial" class="form-control"  placeholder="Enter email" [(ngModel)]=email> -->
                </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password"  placeholder="Password" [(ngModel)]=password>
            </div>
            <button type="submit" class="btn btn-primary" (click)="subt()">Submit</button>
        </form>
    </div>
  
</div>
