<div class="text-center" style="margin-right: 40px; font-family: Nunito">

  <nav *ngIf="notsignin">
      <ul class="nav justify-content-end" style="margin-right: 10px;display: flex;">
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/" routerActiveLink="true" class="btn btn-lg btn-outline-primary">Home page</a></li>
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/register" routerLinkActive="true" class="btn btn-lg btn-outline-primary">Register page</a></li>  
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/signin" routerLinkActive="true" class="btn btn-lg btn-outline-primary">Signin</a></li>
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/adminsignin" routerLinkActive="true" class="btn btn-lg btn-outline-primary">Admin Signin</a></li>
  </ul>
  </nav>
  
  <nav *ngIf="user">
      <ul class="nav justify-content-end">
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/" routerActiveLink="true" class="btn btn-lg btn-outline-primary">Home page</a></li>
      <li class="nav-item" style="margin-left: 10px;"><a routerLink="/profile" routerActiveLink="true" class="btn btn-lg btn-outline-primary">Profile Page</a></li>
      <li class="nav-item" style="margin-left: 10px;"><button class="btn btn-lg btn-danger" id="remove" name="delete" (click)="open(mymodal)">
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">delete User</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              are you sure you want to Logout
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                Cancel</button>
                <button type="button" class="btn btn-danger" (click)="modal.close('Save click')" (click)="func()">Yes
              </button>
            </div>
          </ng-template>
          <strong>logout</strong>      
        </button></li>

  </ul>
  </nav>

  <nav *ngIf="admin">
      <ul class="nav justify-content-end">
      <li class="nav-item" style="margin-left: 10px;"><a class="btn btn-lg btn-outline-primary" routerLink="/" routerActiveLink="true">Home page</a></li>
      <li class="nav-item" style="margin-left: 10px;"><a class="btn btn-lg btn-outline-primary" routerLink="/alldetails" routerLinkActive="true">All User details</a></li>
      <li class="nav-item" style="margin-left: 10px;"> <a class="btn btn-lg btn-outline-primary" routerLink="/delete" routerLinkActive="true">delete records</a></li>
      <li class="nav-item" style="margin-left: 10px;"><a class="btn btn-lg btn-outline-primary" routerLink="/update" routerLinkActive="true">update records</a></li>
      <li class="nav-item" style="margin-left: 10px;"><button type="button" class="btn btn-lg btn-danger" (click)="func()">Logout</button></li>  

  </ul>
  </nav>
  
</div>
