
<div class="table-responsive" style="width: 18rem;margin:auto; width: 80%;">
    <table class="table table-hover table-bordered ">
          <thead>
            <tr class="table-primary">
              <th  scope="col" class="text-center">email</th>
              <th scope="col" class="text-center">Password</th>
              <th scope="col" colspan="2" class="text-center">Operation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of list1">
            <td class="text-center">{{user.name}}</td>
            <td class="text-center">{{user.email}}</td>
         
            <td class="text-center">
              <button class="btn btn-lg btn-outline-warning" id="update" name="update" (click)="open(mymodal)">
                <ng-template #mymodal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">update User</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                  <div class="modal-body">
  
                    <form>
                      <h1 class="text-center">Update User</h1>
                      <div class="form-group">
                      <label for="email">Email address</label>
                      <input type="email" name="email" class="form-control" placeholder="Enter email" [(ngModel)]=email>
                          </div>
                      <div class="form-group">
                          <label for="email">Enter Name</label>
                          <input type="email" name="name" class="form-control" placeholder="Enter name" [(ngModel)]=name>
                      </div>
                  </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      Cancel</button>
                      <a routerLink="/alldetails" routerLinkActive="true"><button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" (click)="subt(user)">Yes
                    </button></a>
                  </div>
                </ng-template>
                <strong>Update</strong>      
              </button>
            
</td>
            
            </tr>
          </tbody>
        </table>
      </div>
  